h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", "Verdana", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title, .team__title, .working__title, .feature__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.main-form__btn, .footer-form__btn, .hero__btn {
  cursor: pointer;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.subscribe__subtitle, .social-footer__subtitle {
  font-weight: 700;
  line-height: 1.1428571429;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  text-decoration: none;
  color: #212121;
}
.logo--brand-color {
  color: #2196F3;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}
.page-header__wrapper {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}
.navigation__link--active {
  color: #2196F3;
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -1px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}
.contacts__icon {
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2F303A;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.feature__list {
  display: flex;
  gap: 30px;
}
.feature__item {
  width: 270px;
}
.feature__wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature__subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1428571429;
}
.feature__descr {
  line-height: 1.7142857143;
  color: #757575;
}

.working {
  padding-top: 0;
}
.working__list {
  display: flex;
  gap: 30px;
}
.working__item {
  position: relative;
}
.working__descr {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}
.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team__descr {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid #2196F3;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
}

.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2F303A;
}
.page-footer__wrapper {
  display: flex;
  align-items: baseline;
}
.page-footer__adress-footer {
  min-width: 231px;
  margin-right: 70px;
}
.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.adress-info {
  font-style: normal;
}
.adress-info__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-info__link {
  font-weight: 400;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-info__link:hover, .adress-info__link:focus {
  color: #2196F3;
}
.adress-info__link--style {
  color: #FFFFFF;
}

.social-footer {
  margin-right: 93px;
}
.social-footer__list {
  display: flex;
  gap: 10px;
}
.social-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__item:hover, .social-footer__item:focus {
  background-color: #2196F3;
}
.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}
.subscribe {
  min-width: 570px;
}
.footer-form {
  display: flex;
}
.footer-form__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
}
.footer-form__email {
  margin-right: 12px;
  min-width: 358px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.302);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}
.footer-form__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio__buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__btn {
  padding: 6px 22px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-cards__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__item:hover, .portfolio-cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards__descr {
  position: relative;
  overflow: hidden;
}
.portfolio-cards__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.902);
  color: #FFFFFF;
}
.portfolio-cards__wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.portfolio-cards__title {
  color: #212121;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-cards__subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__link:hover .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196F3;
}

.main-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-form__field {
  margin-bottom: 10px;
}
.main-form__field--last-item {
  margin-bottom: 20px;
}
.main-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.main-form__wrap {
  position: relative;
}
.main-form__input {
  cursor: pointer;
  height: 40px;
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-form__input:focus {
  outline: transparent;
  border: 1px solid #2196F3;
}
.main-form__icon {
  cursor: pointer;
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-form__input:focus + .main-form__icon {
  fill: #2196F3;
}
.main-form__input--textarea {
  padding-left: 16px;
  min-height: 120px;
  resize: none;
}
.main-form__input--textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.main-form__btn {
  padding: 10px 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-form__btn:hover, .main-form__btn:focus {
  background-color: #188CE8;
}

.policy {
  display: flex;
  margin-bottom: 30px;
}
.policy__link {
  text-decoration-line: underline;
  color: var(--brand-color);
}
.policy__label {
  position: relative;
  padding-left: 37px;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
.policy__icon {
  position: absolute;
  left: 14px;
  bottom: 50%;
  transform: translateY(50%);
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.policy__input:checked ~ .policy__label .policy__icon {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
}/*# sourceMappingURL=main.css.map */