.clients {
    &__title {
        @extend %title;
    }
    &__list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid $icons-color;
        border-radius: 4px;
        @include transition(border);
        &:hover, &:focus {
            border: 1px solid $brand-color;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        fill: $icons-color;
        @include transition(fill);
        &:hover, &:focus {
            fill: $brand-color;
        }
    }
}