.feature {
    &__title {
        @extend %title;
    }
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {
        width: 270px;
    }
    &__wrapper {
        width: 270px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-bg-color;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 700;
        line-height: calc(16 / 14);
    }
    &__descr {
        line-height: calc(24 / 14);
        color: $light-main-color;
    }
}