.feature__title {
  @include title();
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.feature__wrapper {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature__subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.feature__descr {
  line-height: calc(24 / 14);
  color: $light-main-color;
}
