.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background: $dark-bg-color;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/main_bg_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/main_bg_mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/main_bg_tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/main_bg_tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/main_bg.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/main_bg@2x.jpg');
    }
  }
}
.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  @include btn();
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: $hover-btn;
  }
}
