.working {
  display: none;
  @media screen and (min-width: 1200px) {
    padding-top: 0;
    display: block;
  }
}
.working__title {
  @include title();
}
.working__list {
  display: flex;
  gap: 30px;
}
.working__item {
  position: relative;
}
.working__descr {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  bottom: 0;
}
